@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
.App {

	text-align: center;
	margin: 0;
	padding: 0 2rem;
}

/* ul {
  display: flex;
  margin: 0 2rem;
  width: 60%;
  height: 5rem;
  background-color: #e8e8e8;
  border-radius: 10px;
}

li {
  list-style: none;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 5px;
} */


.AppTitle {
  font-family: 'Monoton', cursive;
  margin: 0.5rem;
}
h1 {
  padding: 1rem;
}

